<div class="card">
  <!--menu - Búsqueda de productos-->
  <div class="card-header">
    <h3>{{titulo}}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarSalir()">
      <span aria-hidden="true">&times;</span>
    </button>
  </h3>
  </div>

  <div *ngFor="let alert of alerts" class="text-center">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}
    </alert>
  </div>

 <div class="card m-2 border-primary" style="padding: 10px; background-color:azure;">
    <form novalidate [formGroup]='lForm' autocomplete="off" spellcheck="false">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="rutprov">{{ 'key.identificacion.proveedor' | translate}}</label>
          <input type="text" class="form-control form-control-sm" formControlName="rutprov"
          (keyup.enter)="validaRut()"
          (focusout)="validaRut()" >
        </div>
        <div class="form-group col-md-4">
          <label for="nombreprov">{{ 'key.proveedor' | translate}}</label>
          <input type="text" class="form-control form-control-sm" formControlName="nombreprov"
          (keyup.enter)="Buscarproveedor(lForm.value.rutprov,lForm.value.nombreprov)" (keydown.tab)="Buscarproveedor(lForm.value.rutprov,lForm.value.nombreprov)">
        </div>
        <div class="form-group col-md-2 align-self-end">
          <label for="tipoproducto"></label>
          <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
          (click)="Buscarproveedor(lForm.value.rutprov,lForm.value.nombreprov)">Buscar <i class="fas fa-search ml-1"></i>
          </button>
        </div>
      </div>
    
      
      <table *ngIf ="detalleproveedores.length > 0" class="table table-stripped table-condensed table-hovered" [hidden]="false">
        <thead>
          <tr>
            <th>{{ 'key.identificacion.proveedor' | translate}}</th>
            <th>{{ 'key.proveedor' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveedor of detalleproveedores" (click)="onCerrar(proveedor)" let id=index
            style="cursor: pointer;">
            <td>{{proveedor.numerorutprov}}-{{proveedor.dvrutprov}}</td>
            <td>{{proveedor.descripcionprov}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf ="detalleproveedores.length == 0" >
        <h4 class="text-center">{{ 'key.mensaje.no.existen.proveedores' | translate}}</h4>
      </div> 
      
      <div class="row m-1">
        <pagination
          *ngIf="detalleproveedores.length > 0"
          [boundaryLinks]="true" [directionLinks]="true" [maxSize]="6"
          [totalItems]="detalleproveedores.length" [itemsPerPage]=8 [previousText]="'key.pagination.anterior' | translate"
          [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'" [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </form>
  </div>



  <div class="row float-right mt-1">
    <div class="form-group col-md-9 align-self-end text-right">
      <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
        (click)="Limpiar()">{{ 'key.button.limpiar' | translate}} <i class="fas fa-eraser ml-1"></i>
      </button>
    </div>
    <div class="form-group col-md-3 align-self-end text-right">
      <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
        (click)="onCerrarSalir()">{{ 'key.button.salir' | translate}} <i class="fas fa-window-close ml-1"></i>
      </button>
    </div>
  </div>
</div>
<swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
<swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
<swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
