<app-main-nav>
    <div>
        <div style="margin: 10px;">
            <form [formGroup]="FormInfTendencias">
                <!-- Contenedor feneral de la página -->
                <div class="my-2 ml-2 titulo text-center">
                    <!--menu -->
                    <h3>
                        Informe de Consumo por Bodega
                    </h3>
                </div>
                <!-- lineas de edición y bpusqueda -->
                <div class="card border-primary" style="padding: 5px;">
                    <div class="form-row mt-2">
                        <div class="form-group col-md-3">
                            <label for="bodcodigo">Bodega Consumo</label>
                            <select name="bodcodigo" class='form-control form-control-sm' 
                                formControlName='bodcodigo' (change)="ActivaTipoRegistro()">
                                <option *ngFor='let listaBodegasSolictante of bodegasSolicitantes'
                                    [ngValue]='listaBodegasSolictante.bodcodigo'>
                                    {{ listaBodegasSolictante.boddescripcion }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="tiporeg">Tipo Registro*</label>
                            <select name="tiporeg" class='form-control form-control-sm' 
                                formControlName='tiporeg' (change)="ActivaFechasYBtnImprimir()" >
                                <option value='M'>Medicamento </option>
                                <option value='I'>Insumo </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="fechaini">Fecha Inicio</label>
                            <input appSelecttext type="text" placeholder="DD/MM/YYYY" id="fecha"
                                class='form-control form-control-sm' [bsConfig]="bsConfig" bsDatepicker
                                formControlName="fechaini">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="fechafin">Fecha Fin</label>
                            <input appSelecttext type="text" placeholder="DD/MM/YYYY" id="fecha"
                                class='form-control form-control-sm' [bsConfig]="bsConfig" bsDatepicker
                                formControlName="fechafin">
                        </div>


                    </div>

                </div>
            </form>


            <!--  Botones de página -->
            <div class="row float-right mr-1 mt-2">
                <div class="form-group mr-1 align-self-end text-right">
                    <button type="button" id="btnbusca" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_01"
                        (click)="Imprimir('pdf')" [disabled]="!btnimprime"
                        >IMPRIMIR PDF <i class="fas fa-file-pdf ml-1" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group  align-self-end text-right">
                    <button type="button" id="btnbusca" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_01"
                        (click)="Imprimir('xls')" [disabled]="!btnimprime">
                        IMPRIMIR EXCEL<i class="fa fa-file-excel ml-1" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group  align-self-end">
                    <button type="button" id="btnlimpiar"
                        class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02" (click)="limpiar()">LIMPIAR <i
                            class="fas fa-eraser ml-1"></i>
                    </button>
                </div>
                <div class="form-group  align-self-end">
                    <button type="button" id="btnsalir" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                        routerLink='../home'>SALIR <i class="fas fa-window-close ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
        <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
        <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
        <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
    </div>
</app-main-nav>