<div class="card">

    <div class="card-header">
        {{titulo}}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarSalir()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card m-2 border-primary" style="padding: 10px; background-color:azure;">

        <table class="table table-stripped table-condensed table-hovered">
            <thead>
                <tr>
                    <th>Lote</th>
                    <th>Fecha Vencimiento</th>
                    <th>Saldo</th>
                    <!-- <th>Código Producto</th>
                        <th>Descripción </th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datoslotesPaginacion" (click)="SeleccionLote(dato)" style="cursor: pointer;">
                    <td>{{ dato.nombre}}</td>
                    <td>{{ dato.fechavencimiento }} </td>
                    <td>{{ dato.saldo }}</td>
                    <!-- <td>{{ dato.codmei }}</td>
                        <td>{{ dato.meindescri }}</td> -->
                </tr>
            </tbody>
        </table>
        <div class="row m-1 col-md-6" *ngIf="datoslotes.length>20">
            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="20" [totalItems]="datoslotes.length"
                [itemsPerPage]=20 [previousText]="'key.pagination.anterior' | translate" [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'"
                [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
            </pagination>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <!-- <div class="form-group col-sm-6 align-self-end text-right">
                <button type="button" class="btn btn-primary btn-sm button-my-styles-busqueda_01 ml-1" tooltip="CERRAR"
                    (click)="onCerrarSalir()">CERRAR<i class="fas fa-window-close ml-1"></i>
                </button>
            </div> -->
        </div>
    </div>
    <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
    <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <swal #alertSwalError title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
</div>