<div class="card">
  <!--menu - productos -mantencion de articulos-->

  <div class="card-header">
    {{ 'key.title.busqueda.solicitudes' | translate}}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarSalir()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card m-2 border-primary" style="padding: 10px; background-color:azure;">
    <form novalidate [formGroup]='lForm' autocomplete="off" spellcheck="false">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="codorigensolicitud">{{ 'key.origen.solicitud' | translate}}</label>
          <select name="codorigensolicitud" class='form-control form-control-sm' formControlName='codorigensolicitud'>
            <option *ngFor="let listaorigen of ListaOrigenSolicitud" [ngValue]="listaorigen.codorigensolicitud">
              {{ listaorigen.desorigensolicitud }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="numeromovimiento">{{ 'key.numero.solicitud' | translate}}</label>
          <input type="number" class="form-control form-control-sm" formControlName="numerosolicitud"
          (keyup.enter)="getSolicitud($event.target.value)" (keydown.tab)="getSolicitud($event.target.value)">
        </div>
        <div class="form-group col-md-2">
          <label for="fechadesde">{{ 'key.fechadesde' | translate}} *</label>
          <input appSelecttext type="text" placeholder="DD/MM/YYYY" class="form-control form-control-sm"
            [bsConfig]="bsConfig" bsDatepicker formControlName="fechadesde" />
        </div>
        <div class="form-group col-md-2">
          <label for="fechahasta">{{ 'key.fechahasta' | translate}} *</label>
          <input appSelecttext type="text" placeholder="DD/MM/YYYY" class="form-control form-control-sm"
            [bsConfig]="bsConfig" bsDatepicker formControlName="fechahasta" />
        </div>
        <div class="form-group col-md-2">
          <label for="prioridad">{{ 'key.prioridad' | translate}}</label>
          <select name="prioridad" class='form-control form-control-sm' formControlName='prioridad'>
            <option *ngFor="let prioridad of prioridades" [ngValue]="prioridad.codprioridad">
              {{ prioridad.desprioridad }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="bodcodigo">{{ 'key.bodega.solicitante' | translate}}</label>
          <select name="bodcodigo" class='form-control form-control-sm' formControlName='bodcodigo'
            (change)="BuscaBodegasSuministro(lForm.value.bodcodigo)">
            <option *ngFor='let listaBodegasSolictante of bodegasSolicitantes'
              [ngValue]='listaBodegasSolictante.bodcodigo'>
              {{ listaBodegasSolictante.boddescripcion }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="codbodegasuministro">{{ 'key.bodega.suministro' | translate}}</label>
          <select name="codbodegasuministro" class='form-control form-control-sm' formControlName='codbodegasuministro'>
            <option *ngFor='let listaBodegassuministro of bodegassuministro'
              [ngValue]='listaBodegassuministro.bodcodigo'>
              {{ listaBodegassuministro.boddescripcion }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="esticod">{{ 'key.estado' | translate}} {{ 'key.solicitud' | translate}}</label>
          <select name="esticod" class='form-control form-control-sm' formControlName='estado'>
            <option *ngFor='let listaEstado of estadossolbods' [ngValue]='listaEstado.codestado'>
              {{ listaEstado.desestado }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-2 align-self-end">
          <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
            (click)="BuscarSolicitudesFiltro()">{{ 'key.button.buscar' | translate}} <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="codigo">{{ 'key.codigo' | translate}} *</label>
          <input type="text" class="form-control form-control-sm"
          formControlName ="codigo">
        </div>
        <div class="form-group col-md-2">
          <label for="descripcion">{{ 'key.descripcion' | translate}} *</label>
          <input type="text" class="form-control form-control-sm" formControlName="descripcion" >
        </div>
      </div>
      <table class="table table-sm table-condensed table-stripped table-hover">
        <thead>
          <tr>
            <th>{{ 'key.solicitud' | translate}}</th>
            <th>{{ 'key.fecha' | translate}}</th>
            <th>{{ 'key.solicitante' | translate}}</th>
            <th>{{ 'key.suministro' | translate}}</th>
            <th>{{ 'key.estado' | translate}}</th>
            <th>{{ 'key.origen' | translate}}</th>
            <th>{{ 'key.prioridad' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registrosolicitud of listasolicitudespaginacion" (click)="onCerrar(registrosolicitud)"
            style="cursor: pointer;">
            <td>{{registrosolicitud.soliid}}</td>
            <td>{{registrosolicitud.fechacreacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{registrosolicitud.bodorigendesc}}</td>
            <td>{{registrosolicitud.boddestinodesc}}</td>
            <td>{{registrosolicitud.estadosolicitudde}}</td>
            <td>{{registrosolicitud.desorigensolicitud}}</td>
            <td>{{registrosolicitud.desprioridadsoli}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row m-1">
        <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="6" [totalItems]="listasolicitudes.length"
          [itemsPerPage]=8 [previousText]="'key.pagination.anterior' | translate" [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'"
          [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </form>
  </div>
  <div class="row float-right mt-1">
    <div class="form-group col-md-9 align-self-end text-right">
      <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
        (click)="Limpiar()">{{ 'key.button.limpiar' | translate}} <i class="fas fa-eraser ml-1"></i>
      </button>
    </div>
    <div class="form-group col-md-3 align-self-end text-right">
      <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
        (click)="onCerrarSalir()">{{ 'key.button.salir' | translate}} <i class="fas fa-window-close ml-1"></i>
      </button>
    </div>
  </div>
  <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
  <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
  <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
</div>