<!-- <app-navbar ></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper pl-4"> -->
  <app-main-nav>
    <div>
        <div style="margin: 10px;">
            <div class="my-2 ml-2 titulo text-center">
                <!--menu -->
                <h3>
                    {{ 'key.recetas.anuladas' | translate}}
                </h3>
            </div>
            <div class="card-body" [hidden]="this.alerts.length <= 0">
                <div *ngFor="let alert of alerts">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{
                        alert.msg }}
                    </alert>
                </div>
            </div>
            <!-- lineas de edición y bpusqueda -->
            <div class="card border-primary mt-0" style="max-height: auto;min-height: 100px; padding: 10px;" >
                <tabset>
                    <tab heading="{{'key.tab.datos.paciente' | translate}}" id="tab1">
                        <form [formGroup]="FormDatosPaciente" autocomplete="off" spellcheck="false">
                            <div class="table-responsive mt-1" style="padding: 10px;">
                                <div class="form-row">
                                    <div class="form-group col-sm-1">
                                        <label for="numsolicitud"># {{ 'key.solicitud' | translate}}*</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="numsolicitud">
                                    </div>
                                    <div class="form-group col-sm-1">
                                      <label for="numeroreceta"># {{ 'key.receta' | translate}} *</label>
                                      <input type="text" class="form-control form-control-sm"
                                          formControlName="numeroreceta">
                                  </div>
                                    <div class="form-group col-sm-1">
                                        <label for="tipoDocumento">{{ 'key.tipo.documento' | translate}}*</label>
                                        <select class="form-control form-control-sm"
                                            formControlName="tipodocumento" >
                                            <option *ngFor="let tipodoc of docsidentis"
                                                [ngValue]='tipodoc.docidentcodigo' >
                                                {{ tipodoc.docidentdescripcion }}
                                            </option>
                                        </select>
                                        <!-- <input type="text" class="form-control form-control-sm"
                                            formControlName="tipodocumento"> -->
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <label for="numidentificacion">{{ 'key.numero.documento' | translate}}*</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="numidentificacion">
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="nombrepaciente">{{ 'key.paciente' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="nombrepaciente">
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <label for="sexo">{{ 'key.sexo' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="sexo">
                                    </div>

                                    <div class="form-group col-sm-1">
                                        <label for="edad">{{ 'key.edad' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="edad">
                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="form-group col-sm-1">
                                        <label for="numcuenta">{{ 'key.numero.cuenta' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="numcuenta">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="unidad">{{ 'key.unidad' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="unidad">
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <label for="pieza">{{ 'key.pieza' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="pieza">
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <label for="cama">{{ 'key.cama' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm" formControlName="cama">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="medico">{{ 'key.medico.tratante' | translate}} *</label>
                                        <input type="text" class="form-control form-control-sm"
                                            formControlName="medico">
                                    </div>
                                    <div class="form-group col-sm-2 align-self-end text-right">
                                        <button type="button" id="solicitud" (click)="onBuscar('Solicitud')"
                                            class="btn btn-primary btn-sm button-my-styles-busqueda_01">
                                            {{ 'key.button.buscar.receta' | translate}} <i class="fas fa-search ml-1"></i>
                                        </button>
                                        <!-- [disabled]="!busquedasolic" -->
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="fechahora">{{ 'key.fecha.hora' | translate}} *</label>
                                        <input type="text" appSelecttext placeholder="DD/MM/YYYY HH:MM:SS"
                                            [bsConfig]="bsConfig" bsDatepicker id="fechahora"
                                            class="form-control form-control-sm" formControlName="fechahora">
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="ambito">{{ 'key.ambito' | translate}} *</label>
                                        <select class="form-control form-control-sm" formControlName="ambito">
                                            <option *ngFor="let tipoambito of tipoambitos"
                                                [ngValue]='tipoambito.ambitocodigo'>
                                                {{ tipoambito.ambitodescripcion }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="estado">{{ 'key.estado.solicitud' | translate}} *</label>
                                        <select class="form-control form-control-sm" formControlName="estado">
                                            <option *ngFor="let estadosolicitud of estadosolicitudes"
                                                [ngValue]='estadosolicitud.estsolcodigo'>
                                                {{ estadosolicitud.estsoldescripcion }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="bodcodigo">{{ 'key.bodega' | translate}} *</label>
                                        <select name="bodcodigo" class='form-control form-control-sm'
                                            formControlName='bodcodigo'>
                                            <option *ngFor='let listaBodegasSolictante of bodegasdestino'
                                                [ngValue]='listaBodegasSolictante.bodcodigo'>
                                                {{ listaBodegasSolictante.boddescripcion }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3 align-self-end text-right">
                                        <button type="button" id="btnevento" class="btn btn-primary btn-sm
                                    button-my-styles-busqueda_01"
                                            [disabled]="!evento"
                                            (click)="eventosSolicitud()">
                                            {{ 'key.button.eventos' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tab>
                </tabset>
            </div>

            <div class="card border-primary mt-1" style="padding: 5px; margin: auto;">
                <tabset #tabProducto>
                    <tab heading="{{'key.tab.medicamentos' | translate}}" customClass="tabClass" id="tabMed">
                        <div class="table-responsive mt-3" style="max-height: auto;min-height: 100px;">
                            <table id="tbldatosordendevolucion"
                                class="table ml-1 table-condensed table-responsive-md table-bordered ">
                                <thead class="table-primary  table-sm">
                                    <!-- da color de fondo a la columna-->
                                    <tr class="text-center table-sm">
                                        <th>{{ 'key.codigo' | translate}}
                                            <svg (click)="sortbyMed('codigo')" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th>{{ 'key.descripcion' | translate}}
                                            <svg (click)="sortbyMed('descripcion')" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                        </th>
                                        <th>{{ 'key.dosifica' | translate}}*</th>
                                        <th>{{ 'key.veces.dia' | translate}}* </th>
                                        <th>{{ 'key.cantidad.dias' | translate}}*</th>
                                        <th>{{ 'key.total' | translate}}</th>
                                        <th>{{ 'key.unidad.medida' | translate}}</th>
                                        <!-- <th>Vía</th> -->
                                        <th>{{ 'key.dispensado' | translate}}</th>
                                        <th>{{ 'key.pendiente' | translate}}</th>
                                        <th>{{ 'key.recepcionado' | translate}}</th>
                                        <th>{{ 'key.cantidad.devuelta' | translate}} </th>
                                        <th>{{ 'key.nom.plantilla' | translate}} </th>
                                        <th>{{ 'key.button.eventos' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of arrdetalleMedicamentos
                                    |  paginate: {itemsPerPage: 15, currentPage: page, id:'recAnul'}"
                                        class="table-secondary">
                                        <td><small>{{ detalle.codmei }}</small></td>
                                        <td class="text-nowrap help" tooltip="{{detalle.meindescri }}">
                                            <small>{{ detalle.meindescri | slice:0:20 }}</small>
                                        </td>
                                        <td><small>{{ detalle.dosis }}</small></td>
                                        <td><small>{{ detalle.formulacion }}</small></td>
                                        <td><small>{{ detalle.dias }}</small></td>
                                        <td><small>{{ detalle.cantsoli }}</small></td>
                                        <td><small>{{ detalle.descunidadmedida }}</small></td>
                                        <td><small>{{detalle.cantdespachada}} </small></td>
                                        <td><small>{{detalle.cantsoli- detalle.cantdespachada}}</small> </td>
                                        <td><small>{{detalle.cantrecepcionado}} </small></td>
                                        <td><small>{{detalle.cantdevolucion}} </small></td>
                                        <td><small>{{detalle.nomplantilla}} </small></td>
                                        <td>
                                            <small>
                                                <span>
                                                    <button type="button" id="btnVerEventos"
                                                        class="btn btn-info btn-rounded btn-sm ml-2"
                                                        (click)="eventosDetalleSolicitud(detalle)"
                                                        [disabled]="!evento">
                                                        {{ 'key.button.eventos' | translate}}</button>
                                                </span>
                                            </small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row m-1 mt-3">
                              <pagination-controls
                                id="recAnul"
                                (pageChange)="page = $event"
                                previousLabel="{{'key.pagination.anterior' | translate}}"
                                nextLabel="{{'key.pagination.siguiente' | translate}}"
                                autoHide="true">
                              </pagination-controls>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

            <!--  Botones de página -->
            <div class="row float-right mr-1 mt-2" style="padding: 5px; margin: auto;">
                <div class="form-group  align-self-end" *ngIf="modelopermisos.btnimprimesolicpac">
                    <button type="button" id="btnimprimir"
                        [disabled]="(tipobusqueda==='Paciente'||imprimirsolicitud===false)?true:false"
                        class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02" (click)="onImprimir()">{{ 'key.button.imprimir.receta' | translate}} <i class="fas fa-file-pdf ml-1"></i>
                    </button>
                </div>
                <div class="form-group  align-self-end">
                    <button type="button" id="btnlimpiar" (click)="limpiar()"
                        class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02">{{ 'key.button.limpiar' | translate}}
                        <i class="fas fa-eraser ml-1"></i>

                    </button>
                </div>
                <div class="form-group  align-self-end">
                    <button *ngIf="!btnvolver" type="button" id="btnsalir"
                        class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                        (click)="salir()">{{ 'key.button.salir' | translate}} <i
                            class="fas fa-window-close ml-1"></i>
                    </button>
                    <button *ngIf="btnvolver" type="button" id="btnsalir"
                        class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                        routerLink='../busquedacuentas'>{{ 'key.button.volver' | translate}} <i class="fas fa-window-close ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
        <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
        <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
        <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
        <swal #alertSwalConfirmar title="" text="" type="question" [showCancelButton]="true"> </swal>
    </div>
</app-main-nav>
