<app-main-nav>
    <div>
        <div class="m-2">
            <div class="my-3 titulo text-center">
                <h3>{{ 'key.title.consulta.lotes.productos' | translate}}</h3>
            </div>

            <form [formGroup]="FormConsultaLotes">
                <div class="px-3 py-2 card border-primary">
                    <div class="form-row mt-2">
                        <div class="form-group col-1">
                            <label for="lote">{{ 'key.lote' | translate}}</label>
                            <input type="text" class="form-control form-control-sm" formControlName="lote" />
                        </div>
                        <div class="form-group col-1">
                            <label for="numidentificacion">{{ 'key.codigo' | translate}}</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                formControlName="codigo"
                                (keyup.enter)="buscarProducto()"
                                (keydown.tab)="buscarProducto()" />
                        </div>
                        <div class="form-group col-2">
                            <label for="descripcion">{{ 'key.descripcion' | translate}}</label>
                            <input
                                type="text"
                                class="form-control form-control-sm"
                                formControlName="descripcion"
                                (keyup.enter)="buscarProducto()"
                                (keydown.tab)="buscarProducto()" />
                        </div>
                        <div class="form-group col-1">
                            <label for="fechadesde">{{ 'key.fechadesde' | translate}}</label>
                            <input
                                appSelecttext
                                type="text"
                                placeholder="DD/MM/YYYY"
                                class="form-control form-control-sm"
                                [bsConfig]="{ containerClass: 'theme-blue' }"
                                bsDatepicker
                                formControlName="fechadesde" />
                        </div>
                        <div class="form-group col-1">
                            <label for="fechahasta">{{ 'key.fechahasta' | translate}}</label>
                            <input
                                appSelecttext
                                type="text"
                                placeholder="DD/MM/YYYY"
                                class="form-control form-control-sm"
                                [bsConfig]="{ containerClass: 'theme-blue' }"
                                bsDatepicker
                                formControlName="fechahasta" />
                        </div>
                        <div class="form-group col-3 ml-3 align-self-end">
                            <button
                                type="button"
                                id="btnbuscar"
                                class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                                (click)="buscarProducto()">
                                {{ 'key.button.buscar' | translate}} <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="mt-4 p-3 card border-primary">
                <tabset>
                    <tab heading="{{'key.tab.datos.paciente' | translate}}" id="tab1">
                        <div id="table" class="table-editable" style="max-height: auto; min-height: 100px">
                            <div id="table" class="table-editable table-responsive mt-3">
                                <table class="table table-sm table-condensed table-bordered table-responsive-md table-striped text-center">
                                    <tr class="table table-sm table-primary table-bordered">
                                        <th class="text-center">{{ 'key.fecha' | translate}}</th>
                                        <th class="text-center">{{ 'key.numero.identificacion' | translate}}</th>
                                        <th class="text-center">{{ 'key.nombre.paciente' | translate}}</th>
                                        <th class="text-center">{{ 'key.servicio' | translate}}</th>
                                        <th class="text-center">{{ 'key.solicitud.numero' | translate}}</th>
                                    </tr>
                                    <tr
                                        class="table-secondary cursor-pointer"
                                        *ngFor="
                                            let registro of detallesPacientes
                                                | paginate : { itemsPerPage: 10, currentPage: paginaPacientes, id: 'detallesPacientes' };
                                            let id = index
                                        "
                                        (click)="buscarSolicitud(registro)">
                                        <td>{{ registro.mfdefecha }}</td>
                                        <td>{{ registro.glstipidentificacion + ' ' + registro.clinumidentificacion }}</td>
                                        <td>{{ registro.nomcompletopac }}</td>
                                        <td>{{ registro.servdescripcion }}</td>
                                        <td>{{ registro.soliid }}</td>
                                    </tr>
                                </table>
                            </div>
                            <pagination-controls
                                id="detallesPacientes"
                                (pageChange)="paginaPacientes = $event"
                                (pageBoundsCorrection)="paginaPacientes = $event"
                                previousLabel="{{'key.pagination.anterior' | translate}}"
                                nextLabel="{{'key.pagination.siguiente' | translate}}"
                                autoHide="true">
                            </pagination-controls>
                        </div>
                    </tab>

                    <tab heading="{{'key.tab.datos.bodegas' | translate}}" id="tab1">
                        <div id="table" class="table-editable" style="max-height: auto; min-height: 100px">
                            <div id="table" class="table-editable table-responsive mt-3">
                                <table class="table table-sm table-condensed table-bordered table-responsive-md table-striped text-center">
                                    <tr class="table table-sm table-primary table-bordered">
                                        <th class="text-center">{{ 'key.bodega' | translate}}</th>
                                        <th class="text-center">{{ 'key.saldo' | translate}}</th>
                                    </tr>
                                    <tr
                                        class="table-secondary"
                                        *ngFor="
                                            let bodega of detalleBodegas | paginate : { itemsPerPage: 10, currentPage: paginaBodegas, id: 'detalleBodegas' }
                                        ">
                                        <td>{{ bodega.descripcion }}</td>
                                        <td>{{ bodega.saldo }}</td>
                                    </tr>
                                </table>
                            </div>
                            <pagination-controls
                                id="detalleBodegas"
                                (pageChange)="paginaBodegas = $event"
                                (pageBoundsCorrection)="paginaBodegas = $event"
                                previousLabel="{{'key.pagination.anterior' | translate}}"
                                nextLabel="{{'key.pagination.siguiente' | translate}}"
                                autoHide="true">
                            </pagination-controls>
                        </div>
                    </tab>
                </tabset>
            </div>

            <!--  Botones de página -->
            <div class="row float-right mr-1 mt-2">
                <div class="form-group align-self-end">
                    <button type="button" id="btnlimpiar" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02" (click)="limpiar()">
                        <span class="mr-2">{{ 'key.button.limpiar' | translate}}</span>
                        <i class="fas fa-eraser ml-1"></i>
                    </button>
                </div>

                <div class="form-group align-self-end">
                    <button type="button" id="btnsalir" class="btn btn-primary btn-sm button-my-styles-busqueda_02" routerLink="../home">
                        <span class="mr-2">{{ 'key.button.salir' | translate}}</span>
                        <i class="fas fa-window-close ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</app-main-nav>
<swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
<swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
<swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
