<div class="card">
    <!--menu - Búsqueda de productos-->
    <div class="card-header">
      <h3>{{titulo}}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarSalir()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h3>
    </div>
  
    <div *ngFor="let alert of alerts" class="text-center">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}
      </alert>
    </div>
  
    
    <div class="card m-2 border-primary" style="padding: 10px; background-color:azure;">
      <form novalidate [formGroup]='lForm' autocomplete="off" spellcheck="false">
        <!-- tabla para búsqueda en otras pantallas-->
        <table *ngIf ="detalleoc.length > 0" class="table table-stripped table-condensed table-hovered">
          <thead>
            <tr>
              <th>{{ 'key.codigo' | translate}}</th>
              <th>{{ 'key.descripcion' | translate}}</th>
              <th>{{ 'key.fecha' | translate}}</th>
              <th>{{ 'key.cantidad.pendiente' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let oc of detalleoc" (click)="onCerrar(oc)" let id=index
              style="cursor: pointer;">
              <td>{{oc.meincodigo}}</td>
              <td>{{oc.meindesc}}</td>
              <td>{{oc.odetfechacreacion}}</td>
              <td>{{oc.pendiente}} </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf ="detalleoc.length == 0" >
          <h4 class="text-center">{{ 'key.mensaje.no.existen.articulos' | translate}}</h4>
        </div>  
        
        <div class="row m-1">
          <pagination
            *ngIf="detalleocpag.length > 0"
            [boundaryLinks]="true" [directionLinks]="true" [maxSize]="6"
            [totalItems]="detalleocpag.length" [itemsPerPage]=8 [previousText]="'key.pagination.anterior' | translate"
            [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'" [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </form>
    </div>
  
    <div class="row float-right mt-1">
      <div class="form-group col-md-3 align-self-end text-right">
        <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
          (click)="onCerrarSalir()">{{ 'key.button.salir' | translate}} <i class="fas fa-window-close ml-1"></i>
        </button>
      </div>
    </div>
  </div>
  <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
  <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
  <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
  