<app-main-nav>
    <div>
        <div style="margin: 10px;">
            <form [formGroup]="FormCreaSolicitud">
                <!-- Contenedor feneral de la página -->
                <div class="my-2 ml-2 titulo text-center">
                    <!--menu -->
                    <h3>
                        {{ 'key.title.solicitud.autopedido' | translate}}
                        <!----Despacho Gasto Servicio-->
                    </h3>
                </div>
                <!-- lineas de edición y bpusqueda -->
                <div class="card border-primary" style="padding: 5px;margin-top: 10px;height: 200px;">
                    <div class="form-row mt-2">

                        <div class="form-group col-md-2">
                            <label for="numsolicitud"># {{ 'key.solicitud' | translate}} *</label>
                            <input type="text" class="form-control form-control-sm" formControlName="numsolicitud">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="esticod">{{ 'key.estado.solicitud' | translate}} *</label>
                            <select name="esticod" class='form-control form-control-sm'
                                formControlName='esticod'>
                                <option *ngFor='let listaEstado of estadosolicitudes'
                                    [ngValue]='listaEstado.estsolcodigo'>
                                    {{ listaEstado.estsoldescripcion }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="prioridad">{{ 'key.prioridad' | translate}} *</label>
                            <select name="prioridad" class='form-control form-control-sm'
                                formControlName='prioridad'>
                                <option *ngFor="let prioridad of prioridades"
                                    [ngValue]="prioridad.codprioridad">
                                    {{ prioridad.desprioridad }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="fecha">{{ 'key.fecha' | translate}} *</label>
                            <input appSelecttext type="text" placeholder="DD/MM/YYYY" id="fecha"
                                class='form-control form-control-sm' [bsConfig]="bsConfig" bsDatepicker
                                formControlName="fecha">
                        </div>
                        <div class="form-group col-md-2 align-self-end text-right">
                            <button type="button" id="btnbuscar"
                                class="btn btn-primary btn-sm button-my-styles-busqueda_01 "
                                (click)="BuscarSolicitudes()">{{ 'key.button.buscar.solicitud' | translate}} <i class="fas fa-search ml-1"
                                    aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="form-group col-md-4">
                            <label for="glosa">{{ 'key.observaciones' | translate}} *</label>
                            <input type="text" class="form-control form-control-sm" formControlName="glosa"
                            (input)="logicaVacios()">
                          </div>
                        <div class="form-group col-md-3">
                            <label for="bodcodigo">{{ 'key.bodega.solicitante' | translate}} *</label>
                            <select name="bodcodigo" class='form-control form-control-sm' formControlName='bodcodigo'
                                (change)="SeleccionaBodega(FormCreaSolicitud.value.bodcodigo)">
                                <!-- -->
                                <option *ngFor='let listaBodegasSolictante of bodegasSolicitantes'
                                    [ngValue]='listaBodegasSolictante.bodcodigo'>
                                    {{ listaBodegasSolictante.boddescripcion }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="bsservid">{{ 'key.servicio' | translate}} *</label>
                            <select name="bsservid" class='form-control form-control-sm' formControlName='bsservid'
                                (change)="SeleccionaServicio($event, FormCreaSolicitud.value.bsservid)">
                                <option *ngFor='let servicios of ListaEstructuraServicioBodegas'
                                    [ngValue]='servicios.bsservid'>
                                    {{ servicios.glosaservicio }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-2  align-self-end text-right">
                            <button type="button" id="btnevento"
                                class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                                [disabled]="!existesolicitud" (click)="eventosSolicitud()">{{ 'key.button.eventos' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="card border-primary mt-0" style="padding: 5px; margin: auto;">
            <tabset #tabProducto>
                <tab heading="{{'key.tab.medicamentos' | translate}}" id="tab1" style="height: auto;">
                    <div class="table-editable" customClass="tabClass" id="tabMed">
                        <form [formGroup]="FormDetalleSolicitud" autocomplete="off" spellcheck="false">
                            <div class="form-row ">
                                <div class="form-group col-md-2">
                                    <label for="codigo">{{ 'key.codigo' | translate}} *</label>
                                    <input type="text" class="form-control form-control-sm"
                                        formControlName="codigo">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="descripcion">{{ 'key.descripcion' | translate}} *</label>
                                    <input type="text" class="form-control form-control-sm" [disabled]="!ActivaBotonGrillaSolicitud()"
                                      formControlName="descripcion">
                                </div>
                                <div class="form-group col-md-6 align-self-end">
                                    <button type="button"
                                        class="btn btn-info btn-rounded col-md-3 btn-sm button-my-styles-busqueda_03 "
                                        [disabled]="!agregarproductoygrilla"
                                        (click)="BuscaProducto(1)">
                                        {{ 'key.button.agregar.producto' | translate}}<i class="fas fa-plus ml-1"></i>
                                    </button>
                                    <button type="button" id="btnPlantilla" [disabled]="!agregarproductoygrilla"
                                        class="btn btn-info col-md-3 btn-sm ml-4"
                                        (click)="onBuscarPlantillas()">{{ 'key.agregar.plantillas' | translate}} <i class="fas fa-plus ml-1"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm ml-2"
                                        [disabled]="!ActivaBotonBuscaGrillaMedicamento" (click)="findArticuloGrillaMedicamento()">
                                        {{ 'key.button.buscar' | translate}}<i
                                            class="fas fa-search ml-1"></i>
                                    </button>
                                    <button type="button" [disabled]="!ActivaBotonLimpiaBuscaMedicamento"
                                        class="btn btn-danger btn-sm ml-2" (click)="limpiarCodigoMedicamento()">{{ 'key.button.limpiar.busqueda' | translate}}<i
                                            class="fas fa-brush ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="card border-primary" style="padding: 5px;margin-top: 10px"></div>
                        <div class="table-responsive mt-2" style="max-height: auto;min-height: 100px;">
                            <table class="table table-sm table-condensed table-bordered  table-striped text-center">
                                <tr class="table table-sm  table-primary table-bordered ">
                                    <th class="text-center">{{ 'key.codigo' | translate}}</th>
                                    <th class="text-center">{{ 'key.descripcion' | translate}}</th>
                                    <!-- <th class="text-center">Unidad</th> -->
                                    <!-- <th class="text-center">Stock. Solicitante</th> -->
                                    <th class="text-center">{{ 'key.solicitado' | translate}}*</th>
                                    <th class="text-center">{{ 'key.stock' | translate}}</th>
                                    <th class="text-center">{{ 'key.despachado' | translate}}</th>
                                    <th class="text-center">{{ 'key.pend.despachar' | translate}}</th>
                                    <th class="text-center">{{ 'key.recepcionado' | translate}}</th>
                                    <th class="text-center">{{ 'key.devolucion' | translate}}</th>
                                    <th class="text-center">{{ 'key.nom.plantilla' | translate}}</th>
                                    <th class="text-center">{{ 'key.lote' | translate}}</th>
                                    <th class="text-center">{{ 'key.f.vencimiento' | translate}}</th>
                                    <th class="text-center">
                                        <button type="button" id="btnElinaRegistro"
                                            class="btn btn-info btn-danger btn-sm ml-2"
                                            (click)="ConfirmaEliminaProductoDeLaGrilla2()"
                                            [disabled]="!desactivabtnelimmed">{{ 'key.button.eliminar' | translate}}<i
                                                class="fas fa-trash-restore-alt  ml-1"></i>
                                        </button>
                                    </th>
                                </tr>
                                <tr class="table-secondary"
                                    *ngFor="let registro of DetalleMedicamentosPaginacion
                                    |  paginate: {itemsPerPage: 15, currentPage: pageMed, id:'autoMed'}; let id = index">
                                    <td>
                                        <small><span>{{registro.codmei}}</span></small>
                                    </td>
                                    <td class="text-nowrap help   " tooltip="{{registro.meindescri }}">
                                        <small><span> {{registro.meindescri| slice:0:20 }}</span></small>
                                    </td>
                                    <!-- <td class="text-nowrap help   " tooltip="{{registro.descunidadmedida }}">
                                <small><span> {{registro.descunidadmedida| slice:0:10 }}</span></small>
                              </td> -->

                                    <td>
                                        <small> <!--(keyup.enter)="cambio_cantidad(id, 'cantsoli', $event)"
                                            (keydown.tab)="cambio_cantidad(id, 'cantsoli', $event)"-->
                                            <input type="number" class="form-control form-control-sm text-right" min="1"
                                                max="100" [(ngModel)]="registro.cantsoli" [disabled]="!registro.bloqcampogrilla"

                                                (keyup.enter)="cantidadsolicitada(id,registro)"
                                                (keydown.tab)="cantidadsolicitada(id,registro)">
                                        </small>
                                    </td>
                                    <td>
                                        <small><span> {{registro.stockorigen}}</span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantdespachada}} </span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantsoli- registro.cantdespachada}}</span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantrecepcionado}} </span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantdevolucion}} </span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.nomplantilla}} </span> </small>
                                    </td>
                                    <td>
                                        <select name="lote" class='form-control form-control-sm'
                                            (change)="changeLotemedicamento($event.target.value, id,registro)"
                                            [disabled]="!registro.bloqcampogrilla2">
                                            <option *ngFor="let detalleprod of registro.detallelote"
                                                [ngValue]='detalleprod'
                                                value="{{ detalleprod.fechavto }}/{{ detalleprod.lote }}/{{ detalleprod.cantidad }}/{{ detalleprod.codmei }}">
                                                {{ detalleprod.glscombo }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <small>{{ registro.fechavto }}</small>
                                    </td>
                                    <td>
                                        <small>
                                            <!---->
                                            <input class="mr-2  " type="checkbox" [disabled]="!registro.bloqcampogrilla"
                                                (click)="CambioCheckMed(registro,id,$event,registro.marcacheckgrilla)">
                                        </small>
                                    </td>
                                </tr>
                            </table>
                            <div class="row m-1 mt-3">
                              <pagination-controls
                                id="autoMed"
                                (pageChange)="pageMed = $event"
                                previousLabel="{{'key.pagination.anterior' | translate}}"
                                nextLabel="{{'key.pagination.siguiente' | translate}}"
                                autoHide="true">
                              </pagination-controls>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{{'key.tab.insumos' | translate}}" id="tab1" >
                    <div id="table" class="table-editable">
                        <!-- <button type="button" id="btnLimpiargrillamed" class="btn btn-danger text-right btn-sm ml-4 float-right"
                          [disabled]="(tipobusqueda==='Solicitud'||tipobusqueda===null)?true:false"
                          (click)="limpiarGrillamedicamento()">Limpiar grilla<i class="fas fa-brush ml-1"></i>
                        </button> -->
                        <form [formGroup]="FormDetalleSolicitud" autocomplete="off" spellcheck="false">
                            <div class="form-row ">
                                <div class="form-group col-md-2">
                                    <label for="codigo">{{ 'key.codigo' | translate}} *</label>
                                    <input type="text" class="form-control form-control-sm"
                                        [disabled]="!ActivaBotonGrillaSolicitud()"
                                        formControlName="codigo">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="descripcion">{{ 'key.descripcion' | translate}} *</label>
                                    <input type="text" class="form-control form-control-sm" [disabled]="!ActivaBotonGrillaSolicitud()"
                                      formControlName="descripcion">
                                </div>
                                <div class="form-group col-md-6 align-self-end">
                                    <button type="button"
                                        class="btn btn-info btn-rounded col-md-3 btn-sm button-my-styles-busqueda_03 "
                                        [disabled]="!agregarproductoygrilla"
                                        (click)="BuscaProducto(2)"> {{ 'key.button.agregar.producto' | translate}}<i class="fas fa-plus ml-1"></i>
                                    </button>
                                    <button type="button" id="btnPlantilla"
                                        [disabled]="!agregarproductoygrilla"
                                        class="btn btn-info col-md-3 btn-sm ml-4" (click)="onBuscarPlantillas()">{{ 'key.agregar.plantillas' | translate}}
                                        <i class="fas fa-plus ml-1"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm ml-2"
                                        [disabled]="!ActivaBotonBuscaGrillaInsumo" (click)="findArticuloGrillaInsumo()">{{ 'key.button.buscar' | translate}}<i
                                            class="fas fa-search ml-1"></i>
                                    </button>
                                    <button type="button" [disabled]="!ActivaBotonLimpiaBuscaInsumo"
                                        class="btn btn-danger btn-sm ml-2" (click)="limpiarCodigoInsumo()">{{ 'key.button.limpiar.busqueda' | translate}}<i
                                            class="fas fa-brush ml-1"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive mt-2" style="max-height: auto;min-height: 100px;">
                            <table class="table table-sm table-condensed table-bordered  table-striped text-center">
                                <tr class="table table-sm  table-primary table-bordered ">
                                    <th class="text-center">{{ 'key.codigo' | translate}}</th>
                                    <th class="text-center">{{ 'key.descripcion' | translate}}</th>
                                    <!-- <th class="text-center">Unidad</th> -->
                                    <!-- <th class="text-center">Stock. Solicitante</th> -->
                                    <th class="text-center">{{ 'key.solicitado' | translate}}*</th>
                                    <th class="text-center">{{ 'key.stock' | translate}}</th>
                                    <th class="text-center">{{ 'key.despachado' | translate}}</th>
                                    <th class="text-center">{{ 'key.pend.despachar' | translate}}</th>
                                    <th class="text-center">{{ 'key.recepcionado' | translate}}</th>
                                    <th class="text-center">{{ 'key.devolucion' | translate}}</th>
                                    <th class="text-center">{{ 'key.nom.plantilla' | translate}}</th>
                                    <th class="text-center">{{ 'key.lote' | translate}}</th>
                                    <th class="text-center">{{ 'key.f.vencimiento' | translate}}</th>
                                    <th class="text-center">
                                        <button type="button" id="btnElinaRegistro"
                                            class="btn btn-info btn-danger btn-sm ml-2"
                                            (click)="ConfirmaEliminaInsumoDeLaGrilla2()"
                                            [disabled]="!desactivabtnelimins">{{ 'key.button.eliminar' | translate}}<i
                                                class="fas fa-trash-restore-alt  ml-1"></i>
                                        </button>
                                    </th>
                                </tr>
                                <tr class="table-secondary"
                                    *ngFor="let registro of DetalleInsumosPaginacion
                                    |  paginate: {itemsPerPage: 15, currentPage: pageIns, id:'autoIns'}; let id = index">
                                    <td>
                                        <small><span>{{registro.codmei}}</span></small>
                                    </td>
                                    <td class="text-nowrap help   " tooltip="{{registro.meindescri }}">
                                        <small><span> {{registro.meindescri| slice:0:20 }}</span></small>
                                    </td>
                                    <!-- <td class="text-nowrap help   " tooltip="{{registro.descunidadmedida }}">
                                <small><span> {{registro.descunidadmedida| slice:0:10 }}</span></small>
                              </td> -->

                                    <td>
                                        <small> <!-- (keyup.enter)="cambio_cantidadIns(id, 'cantsoli', $event)"
                                            (keydown.tab)="cambio_cantidadIns(id, 'cantsoli', $event)"-->
                                            <input type="number" class="form-control form-control-sm text-right"
                                                 [(ngModel)]="registro.cantsoli" [disabled]="!registro.bloqcampogrilla"

                                                (keyup.enter)="cantidadInsumo(id,registro)"
                                                (keydown.tab)="cantidadInsumo(id,registro)">
                                        </small>
                                    </td>
                                    <td>
                                        <small><span> {{registro.stockorigen}}</span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantdespachada}} </span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantsoli- registro.cantdespachada}}</span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantrecepcionado}} </span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.cantdevolucion}} </span></small>
                                    </td>
                                    <td>
                                        <small><span>{{registro.nomplantilla}} </span> </small>
                                    </td>
                                    <td>
                                        <select name="lote" class='form-control form-control-sm'
                                            (change)="changeLoteinsumo($event.target.value, id,registro)"
                                            [disabled]="!registro.bloqcampogrilla2">
                                            <option *ngFor="let detalleprod of registro.detallelote"
                                                [ngValue]='detalleprod'
                                                value="{{ detalleprod.fechavto }}/{{ detalleprod.lote }}/{{ detalleprod.cantidad }}/{{ detalleprod.codmei }}">
                                                {{ detalleprod.glscombo }}
                                            </option>
                                        </select>
                                    </td>
                                    <td><small><span>{{ registro.fechavto | date:'dd/MM/yyyy' }}</span></small>
                                        <!-- <input type="text" class="form-control form-control-sm text-right"
                                            value="{{ registro.fechavto | date:'dd/MM/yyyy' }}" disabled> -->
                                    </td>
                                    <td>
                                        <small>
                                            <!---->
                                            <input class="mr-2  " type="checkbox" [disabled]="!registro.bloqcampogrilla"
                                                (click)="CambioCheckIns(registro,id,$event,registro.marcacheckgrilla)">
                                        </small>
                                    </td>
                                </tr>
                            </table>
                            <div class="row m-1 mt-3">
                              <pagination-controls
                                id="autoIns"
                                (pageChange)="pageIns = $event"
                                previousLabel="{{'key.pagination.anterior' | translate}}"
                                nextLabel="{{'key.pagination.siguiente' | translate}}"
                                autoHide="true">
                              </pagination-controls>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <!--  Botones de página -->
        <div class="row float-right mr-1 mt-2">
            <!--Al agregarle col-md-3 queda el espacio entre botones cuando aparece generar solicitud-->
            <div class="form-group  align-self-end" *ngIf="modelopermisos.btngrabadespachocostoser">
                <button type="button" id="btnguardar" [disabled]="!verificanull"
                    class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                    (click)="checkDuplicados(true)">{{ 'key.button.generar.autopedido' | translate}}
                    <i class="fas fa-save"></i>
                </button>
            </div>
            <!-- <div class="form-group  align-self-end"> *ngIf="modelopermisos.btnmodificadespcostoser">->
              <button type="button" id="btnmodificar" [disabled]="!existesolicitud"
                class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                (click)="ConfirmaModificarSolicitud()">MODIFICAR SOLICITUD
                <i class="fas fa-save"></i>
              </button>
            </div> -->
            <div class="form-group  align-self-end" *ngIf="modelopermisos.btnimprdespcostoser" >
                <!-- [disabled]="!existesolicitud"-->
                <button type="button" id="btnguardar"
                    class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                    [disabled]="!imprimirsolicitud"
                    (click)="onImprimir()"> {{ 'key.button.imprimir.solicitud' | translate}} <i class="fas fa-file-pdf ml-1"></i>
                </button>
            </div>
            <!-- <div class="form-group  align-self-end" *ngIf="modelopermisos.btneliminadespcostoser">
              <button type="button" id="btneliminar" [disabled]="!existesolicitud"
                class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                (click)="ConfirmaEliminarSolicitud()">ELIMINAR SOLICITUD <i class="fas fa-trash-alt"></i>
              </button>
            </div> -->
            <div class="form-group  align-self-end">
                <button type="button" id="btnlimpiar" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                    (click)="limpiar()">{{ 'key.button.limpiar' | translate}} <i class="fas fa-eraser ml-1"></i>
                </button>
            </div>
            <div class="form-group  align-self-end">
                <button type="button" id="btnsalir" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                    routerLink='../home'>{{ 'key.button.salir' | translate}} <i class="fas fa-window-close ml-1"></i>
                </button>
            </div>
        </div>
        <!-- </div> -->
        <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
        <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
        <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
    </div>
</app-main-nav>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>
