<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="content-wrapper pl-4"> -->
<app-main-nav>
  <div style="padding: 10px;">
    <div style="margin: 20px;">
        <form [formGroup]="FormUsuarioRoles">
            <!-- Contenedor feneral de la página -->
            <div class="my-2 ml-2 titulo text-center">
                <!--menu -->
                <h3>
                    {{ 'key.title.administrador.roles.usuarios' | translate}}
                </h3>
            </div>
            <!-- lineas de edición y bpusqueda -->
            <div class="card border-primary" style="padding: 20px;">
                <div class="form-row mt-2">
                    <div class="form-group col-md-2">
                        <label for="id_usuario">{{ 'key.id' | translate}}
                            *</label>
                        <input type="number" class="form-control form-control-sm" formControlName="id_usuario">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="rut">{{ 'key.numero.identificacion' | translate }} *</label>
                        <input type="number" class="form-control form-control-sm" formControlName="rut">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="login">{{ 'key.login' | translate}} *</label>
                        <input type="label" class="form-control form-control-sm" formControlName="login">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="nombre">{{ 'key.nombre.usuario' | translate}} *</label>
                        <input type="label" class="form-control form-control-sm" formControlName="nombre">
                    </div>
                    <div class="form-group col-md-2  align-self-end text-right">
                        <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01"
                            (click)="BuscarUsuarios()">{{ 'key.button.buscar.usuario' | translate}}<i class="fas fa-search ml-1"
                                aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <tabset>
            <tab heading="{{'key.tab.roles.asociadas' | translate}}"  id="tab1">

                <div class="card border-primary" style="padding: 20px;margin-top: 10px">
                    <div id="table" class="table-editable">
                        <a class="btn-floating btn-lg purple-gradient"></a>
                        <button type="button" class="btn btn-info btn-rounded btn-sm ml-2" (click)="addRol()"
                            [disabled]="(activaagregar == false)">{{ 'key.button.agregar' | translate}}
                            <i class="fas fa-plus ml-2" aria-hidden="true"></i>
                        </button>
                        <div id="table" class="table-editable table-responsive mt-2" style="max-height: auto;min-height: 100px;">
                            <table
                                class="table table-sm table-condensed table-bordered table-responsive-md table-striped text-center">
                                <tr class="table table-sm  table-primary table-bordered ">
                                    <th class="text-center">{{ 'key.id.rol' | translate}}</th>
                                    <th class="text-center">{{ 'key.codigo.rol' | translate}}</th>
                                    <th class="text-center">{{ 'key.descripcion' | translate}}</th>
                                    <th class="text-center"><button type="button" id="btnElinaRegistro" class="btn btn-info btn-danger btn-sm ml-2 "
                                        (click)="ConfirmaEliminaRolDeLaGrilla()" [disabled]= "!desactivabtnelimrol">{{ 'key.button.eliminar' | translate}}
                                        <i class="fas fa-trash-restore-alt  ml-1"></i>
                                        </button>
                                    </th>
                                </tr>
                                <tr class="table-secondary"
                                    *ngFor="let registro of arregloRolesUsuarioPaginacion; let id = index">
                                    <td>
                                        <small><span>{{registro.rolid}}</span></small>
                                    </td>
                                    <td class="text-nowrap help ">
                                        <small><span> {{registro.codigorol| slice:0:20 }}</span></small>
                                    </td>
                                    <td class="text-nowrap help" tooltip="{{registro.nombrerol}}">
                                        <small><span> {{registro.nombrerol }}</span></small>
                                    </td>
                                    <td>
                                        <small>
                                            <input class="mr-2  " type="checkbox"  [disabled]="!registro.bloqcampogrilla"
                                                (click)="CambioCheckRol(registro,id,$event,registro.marcacheckgrilla)">
                                        </small>
                                        <!-- <small><span><button type="button" id="btnElinaRegistro"
                                                    class="btn btn-info btn-rounded btn-sm ml-2"
                                                    (click)="ConfirmaEliminarRolGrilla(registro,id)">Eliminar
                                                </button></span>
                                        </small> -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row m-1" *ngIf="arregloRolesUsuario.length > 8">
                            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8"
                                [totalItems]="arregloRolesUsuario.length" [itemsPerPage]=8
                                [previousText]="'key.pagination.anterior' | translate" [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'"
                                [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="{{'key.tab.centros.costo.asociado' | translate}}" id="tab2">

                <div class="card border-primary" style="padding: 20px;margin-top: 10px">
                    <div id="table" class="table-editable">
                        <a class="btn-floating btn-lg purple-gradient"></a>
                        <button type="button" class="btn btn-info btn-rounded btn-sm ml-2" (click)="addCentroCosto()"
                            [disabled]="(activaagregar == false)">{{ 'key.button.agregar.centro.costo' | translate}}
                            <i class="fas fa-plus ml-2" aria-hidden="true"></i>
                        </button>
                        <div id="table" class="table-editable table-responsive mt-2" style="max-height: auto;min-height: 100px;">
                            <table
                                class="table table-sm table-condensed table-bordered table-responsive-md table-striped text-center">
                                <tr class="table table-sm  table-primary table-bordered ">
                                    <th class="text-center">{{ 'key.id.centro.costo' | translate}}</th>
                                     <th class="text-center">{{ 'key.descripcion' | translate}}</th>
                                    <th class="text-center"><button type="button" id="btnElinaRegistro" class="btn btn-info btn-danger btn-sm ml-2 "
                                        (click)="ConfirmaEliminaCentroCostoDeLaGrilla()" [disabled]= "!desactivabtnelimccosto">
                                        {{ 'key.button.eliminar' | translate}}<i class="fas fa-trash-restore-alt  ml-1"></i>
                                        </button>
                                    </th>
                                </tr>
                                <tr class="table-secondary"
                                    *ngFor="let registro of arregloCentroCostoPaginacion; let id = index">
                                    <td>
                                        <small><span>{{registro.idcentrocosto}}</span></small>
                                    </td>
                                    <td class="text-nowrap help   " tooltip="{{registro.glounidadesorganizacionales}}">
                                        <small><span> {{registro.glounidadesorganizacionales| slice:0:50 }}</span></small>
                                    </td>

                                    <td>
                                        <small>
                                            <input class="mr-2  " type="checkbox"  [disabled]="!registro.bloqcampogrilla"
                                            (click)="CambioCheckCentroCosto(registro,id,$event,registro.marcacheckgrilla)">
                                        </small>
                                        <!-- <small><span><button type="button" id="btnElinaRegistro"
                                                    class="btn btn-info btn-rounded btn-sm ml-2"
                                                    (click)="ConfirmaEliminarCentroCostoGrilla(registro,id)">Eliminar
                                                </button></span>
                                        </small> -->
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row m-1" *ngIf="arregloCentroCosto.length > 8">
                            <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="8"
                                [totalItems]="arregloCentroCosto.length" [itemsPerPage]=8
                                [previousText]="'key.pagination.anterior' | translate" [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'"
                                [lastText]="'&raquo;'" (pageChanged)="pageChangedCCosto($event)">
                            </pagination>
                        </div>
                    </div>
                </div>

            </tab>


        </tabset>





        <!--  Botones de página -->
        <div class="row float-right mr-1 mt-2">
            <!--Al agregarle col-md-3 queda el espacio entre botones cuando aparece generar solicitud-->

            <div  class="form-group  align-self-end">
                <button type="button" id="BtnModificarUsuario" [disabled]="!verificanull"
                    class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                    (click)="ConfirmaModificar()">{{ 'key.button.modificar' | translate}}
                    <i class="fas fa-save"></i>
                </button>
            </div>

            <div class="form-group  align-self-end">
                <button type="button" id="btnlimpiar" class="btn mr-1 btn-primary btn-sm button-my-styles-busqueda_02"
                    (click)="limpiar()">{{ 'key.button.limpiar' | translate}} <i class="fas fa-eraser ml-1"></i>
                </button>
            </div>
            <div class="form-group  align-self-end">
                <button type="button" id="btnsalir" class="btn btn-primary btn-sm button-my-styles-busqueda_02"
                    routerLink='../home'>{{ 'key.button.salir' | translate}} <i class="fas fa-window-close ml-1"></i>
                </button>
            </div>
        </div>
    </div>
    <swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
    <swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
    <swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
  </div>
</app-main-nav>
