<nav *ngIf="ngxPaginationApi.getTotalItems() > config.itemsPerPage">
  <ul class="pagination text-primary">
    <!-- Paginar anterior -->
    <li class="page-item" [class.disabled]="ngxPaginationApi.isFirstPage()">
      <a class="page-link" (click)="ngxPaginationApi.previous()">
        <span>&laquo;</span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="ngxPaginationApi.isFirstPage()">
      <a class="page-link" (click)="ngxPaginationApi.previous()"> {{ 'key.pagination.anterior' | translate}} </a>
    </li>

    <!-- Links con numeros -->
    <li class="page-item" *ngFor="let page of ngxPaginationApi.pages" [class.active]="ngxPaginationApi.getCurrent() === page.value">
      <a class="page-link" (click)="ngxPaginationApi.setCurrent(page.value)" *ngIf="ngxPaginationApi.getCurrent() !== page.value">
        <span>{{ page.label }}</span>
      </a>
      <div class="page-link" *ngIf="ngxPaginationApi.getCurrent() === page.value">
        <span>{{ page.label }}</span>
      </div>
    </li>

    <!-- Paginar siguiente -->
    <li class="page-item" [class.disabled]="ngxPaginationApi.isLastPage()">
      <a class="page-link" (click)="ngxPaginationApi.next()">{{ 'key.pagination.siguiente' | translate}}</a>
    </li>
    <li class="page-item" [class.disabled]="ngxPaginationApi.isLastPage()">
      <a class="page-link" (click)="ngxPaginationApi.next()"><span>&raquo;</span></a>
    </li>
  </ul>
</nav>
