<div class="card">
  <!--menu - Búsqueda de productos-->
  <div class="card-header">
    {{titulo}}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarSalir()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card m-2 border-primary" style="padding: 10px; background-color:azure;">
    <form novalidate [formGroup]='lForm' autocomplete="off" spellcheck="false">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="codigo">{{ 'key.codigo' | translate}}</label>
          <input type="text" class="form-control form-control-sm" formControlName="codigo"
          (keyup.enter)="getProducto($event.target.value)" (keydown.tab)="getProducto($event.target.value)" >
        </div>
        <div class="form-group col-md-4">
          <label for="descripcion">{{ 'key.descripcion' | translate}}</label>
          <input type="text" class="form-control form-control-sm" formControlName="descripcion">
        </div>
        <div class="form-group col-md-3">
          <label for="tipoproducto">{{ 'key.tipo.producto' | translate}}</label>
          <select name="tipoproducto" class='form-control form-control-sm' formControlName='tipoproducto'>
            <option *ngFor='let registrotipoproducto of arreglotipoproducto'
              [ngValue]='registrotipoproducto.fparvalor'>
              {{ registrotipoproducto.fpardescripcion }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-2 align-self-end">
          <label for="tipoproducto">A lo menos un filtro</label>
          <button type="button" id="btnbuscar" class="btn btn-primary btn-sm button-my-styles-busqueda_01" 
          (click)="Buscarproducto(lForm.value.codigo,lForm.value.descripcion,lForm.value.codpact,
            lForm.value.codpres,lForm.value.codffar)">{{ 'key.button.buscar' | translate}} <i class="fas fa-search ml-1"></i>
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="principio">{{ 'key.principio.activo' | translate}}</label>
          <select name="idprincipio" class='form-control form-control-sm' formControlName='codpact'>
            <option *ngFor='let principio of PrincAct' [ngValue]='principio.idprinc'>
              {{ principio.descriprinc }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="presentacion">{{ 'key.presentacion' | translate}}</label>
          <select name="idpresentacion" class='form-control form-control-sm' formControlName='codpres'>
            <option *ngFor='let presentacion of Presenta' [ngValue]='presentacion.idprese'>
              {{ presentacion.descriprese }}
            </option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="forma">{{ 'key.forma.farmaceutica' | translate}}</label>
          <select name="idforma" class='form-control form-control-sm' formControlName='codffar'>
            <option *ngFor='let formafarma of FormaFar' [ngValue]='formafarma.idforma'>
              {{ formafarma.descriforma }}
            </option>
          </select>
        </div>
      </div>
      <table class="table table-stripped table-condensed table-hovered">
        <thead>
          <tr>
            <th>{{ 'key.codigo' | translate | uppercase}}</th>
            <th>{{ 'key.descripcion' | translate | uppercase}}</th>
            <th>{{ 'key.tipo.producto' | translate | uppercase}}</th>
            <th>{{ 'key.saldo' | translate | uppercase}}</th>
            <th>{{ 'key.unidad.despacho' | translate | uppercase}}</th>
            <th>{{ 'key.principio' | translate | uppercase}}</th>
            <th>{{ 'key.presentacion' | translate | uppercase}}</th>
            <th>{{ 'key.forma' | translate | uppercase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productos of detalleconsultaproductopag" (click)="onCerrar(productos)" let id=index
            style="cursor: pointer;">
            <td>{{productos.codigo}}</td>
            <td>{{productos.descripcion}}</td>
            <td>{{productos.desctiporegistro}}</td>
            <td>{{productos.saldo}} </td>
            <td>{{productos.desunidaddespacho}}</td>
            <td>{{productos.principioactivo}}</td>
            <td>{{productos.presentacion}}</td>
            <td>{{productos.formafarma}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row m-1">
        <pagination [boundaryLinks]="true" [directionLinks]="true" [maxSize]="6"
          [totalItems]="detalleconsultaproducto.length" [itemsPerPage]=8 [previousText]="'key.pagination.anterior' | translate"
          [nextText]="'key.pagination.siguiente' | translate" [firstText]="'&laquo;'" [lastText]="'&raquo;'" (pageChanged)="pageChanged($event)">
        </pagination>
      </div>
    </form>
  </div>
 
  <div class="row float-right mt-1">
    <div class="form-group col-md-9 align-self-end text-right">
      <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
        (click)="Limpiar()">{{ 'key.button.limpiar' | translate}} <i class="fas fa-eraser ml-1"></i>
      </button>
    </div>
    <div class="form-group col-md-3 align-self-end text-right">
      <button type="button" id="btnlimpiar" class="btn  btn-primary btn-sm button-my-styles-busqueda_02"
        (click)="onCerrarSalir()">{{ 'key.button.salir' | translate}} <i class="fas fa-window-close ml-1"></i>
      </button>
    </div>
  </div>
</div>
<swal #alertSwalError title="" text="" type="error" [showCancelButton]="false"> </swal>
<swal #alertSwal title="" text="" type="success" [showCancelButton]="false"> </swal>
<swal #alertSwalAlert title="" text="" type="warning" [showCancelButton]="false"> </swal>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"> </ngx-loading>